<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Hello!</p>
  <p>You have a meeting schedule from a customer. Kindly find attached</p>
  <p>Thanks.</p>
</body>
</html>